@import url('https://fonts.googleapis.com/css?family=Open Sans:300,800|Open Sans Condensed:300');
#offlajn-universal-product-slider-90-1-container a:HOVER,  #offlajn-universal-product-slider-90-1-container a:VISITED,  #offlajn-universal-product-slider-90-1-container a:LINK,  #offlajn-universal-product-slider-90-1-container a:FOCUS,  #offlajn-universal-product-slider-900-1-container a:HOVER,  #offlajn-universal-product-slider-900-1-container a:VISITED,  #offlajn-universal-product-slider-900-1-container a:LINK,  #offlajn-universal-product-slider-900-1-container a:FOCUS {
	display: block;
	text-decoration: none;
	background: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#offlajn-universal-product-slider-90-1-container.loading,  #offlajn-universal-product-slider-90-1-container.loading2,  #offlajn-universal-product-slider-900-1-container.loading,  #offlajn-universal-product-slider-900-1-container.loading2 {
	overflow: hidden;
}
#offlajn-universal-product-slider-90-1-container.loading .off-uni-slider-item,  #offlajn-universal-product-slider-90-1-container.loading2 .off-uni-slider-item,  #offlajn-universal-product-slider-900-1-container.loading .off-uni-slider-item,  #offlajn-universal-product-slider-900-1-container.loading2 .off-uni-slider-item {
	display: none;
	float: left;
	margin: 0;
}
 @media only screen and (min-device-width: 0px) and (max-device-width: 468px) {
#offlajn-universal-product-slider-90-1-container.loading .off-uni-slider-item-link:nth-child(-n+1) .off-uni-slider-item,  #offlajn-universal-product-slider-90-1-container.loading2 .off-uni-slider-item:nth-child(-n+1),  #offlajn-universal-product-slider-900-1-container.loading .off-uni-slider-item-link:nth-child(-n+1) .off-uni-slider-item,  #offlajn-universal-product-slider-900-1-container.loading2 .off-uni-slider-item:nth-child(-n+1) {
	width: 100%;
	display: block;
}
}
 @media only screen and (min-device-width: 469px) and (max-device-width: 568px) {
#offlajn-universal-product-slider-90-1-container.loading .off-uni-slider-item-link:nth-child(-n+2) .off-uni-slider-item,  #offlajn-universal-product-slider-90-1-container.loading2 .off-uni-slider-item:nth-child(-n+2),  #offlajn-universal-product-slider-900-1-container.loading .off-uni-slider-item-link:nth-child(-n+2) .off-uni-slider-item,  #offlajn-universal-product-slider-900-1-container.loading2 .off-uni-slider-item:nth-child(-n+2) {
	width: 50%;
	display: block;
}
}
 @media only screen and (min-device-width: 569px) and (max-device-width: 768px) {
#offlajn-universal-product-slider-90-1-container.loading .off-uni-slider-item-link:nth-child(-n+3) .off-uni-slider-item,  #offlajn-universal-product-slider-90-1-container.loading2 .off-uni-slider-item:nth-child(-n+3),  #offlajn-universal-product-slider-900-1-container.loading .off-uni-slider-item-link:nth-child(-n+3) .off-uni-slider-item,  #offlajn-universal-product-slider-900-1-container.loading2 .off-uni-slider-item:nth-child(-n+3) {
	width: 33.3333333333%;
	display: block;
}
}
 @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
#offlajn-universal-product-slider-90-1-container.loading .off-uni-slider-item-link:nth-child(-n+4) .off-uni-slider-item,  #offlajn-universal-product-slider-90-1-container.loading2 .off-uni-slider-item:nth-child(-n+4),  #offlajn-universal-product-slider-900-1-container.loading .off-uni-slider-item-link:nth-child(-n+4) .off-uni-slider-item,  #offlajn-universal-product-slider-900-1-container.loading2 .off-uni-slider-item:nth-child(-n+4) {
	width: 25%;
	display: block;
}
}
 @media only screen and (min-device-width: 1025px) and (max-device-width: 1399px) {
#offlajn-universal-product-slider-90-1-container.loading .off-uni-slider-item-link:nth-child(-n+4) .off-uni-slider-item,  #offlajn-universal-product-slider-90-1-container.loading2 .off-uni-slider-item:nth-child(-n+4),  #offlajn-universal-product-slider-900-1-container.loading .off-uni-slider-item-link:nth-child(-n+4) .off-uni-slider-item,  #offlajn-universal-product-slider-900-1-container.loading2 .off-uni-slider-item:nth-child(-n+4) {
	width: 25%;
	display: block;
}
}
 @media only screen and (min-device-width: 1400px) {
#offlajn-universal-product-slider-90-1-container.loading .off-uni-slider-item-link:nth-child(-n+5) .off-uni-slider-item,  #offlajn-universal-product-slider-90-1-container.loading2 .off-uni-slider-item:nth-child(-n+5),  #offlajn-universal-product-slider-900-1-container.loading .off-uni-slider-item-link:nth-child(-n+5) .off-uni-slider-item,  #offlajn-universal-product-slider-900-1-container.loading2 .off-uni-slider-item:nth-child(-n+5) {
	width: 20%;
	display: block;
}
}
#offlajn-universal-product-slider-90-1-container, #offlajn-universal-product-slider-900-1-container {
	/* overflow: hidden;*/

 /*-webkit-transform: rotateZ(90deg);

 transform: rotateZ(90deg);*/

	/*margin-bottom: 3px;*/
	margin-bottom: 20px;
	height: 385px;
}
.slideshow_advance {
	height: 292px !important
}
.offlajn-universal-product-slider-90-1-container-inner, .offlajn-universal-product-slider-900-1-container-inner {
	/*  border: 1px solid #d2d2d2;*/

	border-top: none;
	padding-top: 0px;
	padding-bottom: 3px;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item, #offlajn-universal-product-slider-900-1-container .off-uni-slider-item {
	/*  width: 200px;*/

  /*height: 300px; */

	text-align: center;
	cursor: pointer;
	/*padding: 5px;*/

	border: 1px solid #d2d2d2;
	/*margin-left: 30px;

  margin-right: 30px;*/

	margin: 5px;
	/*width: 100%;*/

	height: 325px;
	position: relative;
	padding-bottom: 9px;
}
#offlajn-universal-product-slider-90-1-container .owl-item,  #offlajn-universal-product-slider-900-1-container .owl-item {
/*margin: 5px; */

}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item:HOVER,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item:HOVER {
/*border: 2px solid #ccc;*/

  

}
#offlajn-universal-product-slider-90-1-container .off_uni_slider_header,  #offlajn-universal-product-slider-900-1-container .off_uni_slider_header {
	width: 100%;
	border-radius: 2px;
	/*margin-bottom: 20px;*/

	background: #405369 url('/modules/mod_universal_product_slider/cache/90/e793e4613f909dab07fd89e2faeab7d4.png') repeat-x;
	background: -moz-linear-gradient(top, #2d3e52, #405369);
	background: -webkit-gradient(linear, left top, left bottom, from(#2d3e52), to(#405369));
	background: -webkit-linear-gradient(top, #2d3e52, #405369);
	background: -o-linear-gradient(top, #2d3e52, #405369);
	background: -ms-linear-gradient(top, #2d3e52, #405369);
	background: #f0f0f0;
	position: relative;
	line-height: 0px;
}
#offlajn-universal-product-slider-90-1-container .off_uni_slider_header .title,  #offlajn-universal-product-slider-900-1-container .off_uni_slider_header .title {
	font-family: Arial,sans-serif;
	font-size: 21px;
	color: #444;
	/*font-weight: 300;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.35);*/
	line-height: 40px;
	display: inline-block;
	text-rendering: optimizeLegibility;
	/*overflow: hidden;*/

	padding-left: 44px;
	max-width: 62%;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#offlajn-universal-product-slider-90-1-container .off_uni_slider_header .title .pr_count,  #offlajn-universal-product-slider-900-1-container .off_uni_slider_header .title .pr_count {
	margin-left: 10px;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
	padding: 1px 7px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.54) inset, 0 0 1px rgba(255, 255, 255, 0.33);
}
#offlajn-universal-product-slider-90-1-container .img_container,  #offlajn-universal-product-slider-900-1-container .img_container {
	background: #fff;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item img,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item img {
	/*width: inherit;*/

	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item img.second,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item img.second {
	position: absolute;
	top: 0px;
	opacity: 0;
	transition: all 500ms;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item img.second:HOVER,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item img.second:HOVER {
	opacity: 1;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item span,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item span {
	display: inline-block;
	padding: 5px 0;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item span.item_name,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item span.item_name {
	display: block;
	font-family: 'Open Sans Condensed';
	font-size: 18px;
	color: #333333;
	font-weight: 300;
	line-height: 40px;
	background: #eaeaea url('/modules/mod_universal_product_slider/cache/90/e25af5d25ecf3b7869c2997a0e7da449.png') repeat-x;
	background: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff, #eaeaea);
	background: -o-linear-gradient(top, #ffffff, #eaeaea);
	background: -ms-linear-gradient(top, #ffffff, #eaeaea);
	background: linear-gradient(top, #ffffff, #eaeaea);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0 10px;
	text-decoration: none;
}
.off-uni-slider-img {
	vertical-align: middle;
	display: inline-block !important;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item span.item_price,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item span.item_price {
	font-family: 'Open Sans';
	font-size: 17px;
	color: #f00;
	font-weight: 800;
	text-align: left;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
	background: none;
	padding: 5px;
	/* border: 1px solid #1f2a37;*/

	box-shadow: 0px 0px 1px #637182 inset;
	position: relative;
	right: 10px;
	top: 10px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}
#offlajn-universal-product-slider-90-1-container .controller,  #offlajn-universal-product-slider-900-1-container .controller {
	float: right;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Open Sans';
	font-size: 20px;
	color: #ffffff;
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.35);
	line-height: 48px;
	width: 100%;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-left,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-left {
	width: 45px;
	height: 100px;
	background: url("../images/prev.png") bottom center no-repeat;
	left: 6px;
	margin-top: -12px;
	top: 20%;
	position: absolute;
	z-index: 99;
}
 @media only screen and (-webkit-min-device-pixel-ratio:1.5),  only screen and (min-device-pixel-ratio:1.5) {
#offlajn-universal-product-slider-90-1-container .off-uni-slider-left,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-left {
	background: url("../images/prev.png") bottom center no-repeat;
	background-size: 100%;
}
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-right,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-right {
	width: 45px;
	height: 100px;
	background: url("../images/next.png") bottom center no-repeat;
	margin-top: -12px;
	top: 20%;
	position: absolute;
	/*right: 4px;*/
	right: 8px;
	z-index: 999
}
.new-product
{
	top: 70% !important;
}
 @media only screen and (-webkit-min-device-pixel-ratio:1.5),  only screen and (min-device-pixel-ratio:1.5) {
#offlajn-universal-product-slider-90-1-container .off-uni-slider-right,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-right {
	background: url("../images/next.png") bottom center no-repeat;
	background-size: 100%;
	right: 6px;
}
}
#offlajn-universal-product-slider-90-1-container .controller .owl-controls,  #offlajn-universal-product-slider-900-1-container .controller .owl-controls {
	float: left;
	margin-right: 120px;
	display: none !important;
}
#offlajn-universal-product-slider-90-1-container .controller .owl-pagination .owl-page,  #offlajn-universal-product-slider-900-1-container .controller .owl-pagination .owl-page {
	display: inline-block;
}
 @media only screen and (max-width: 600px) {
#offlajn-universal-product-slider-90-1-container .controller .owl-pagination .owl-page,  #offlajn-universal-product-slider-900-1-container .controller .owl-pagination .owl-page {
	display: none;
}
}
#offlajn-universal-product-slider-90-1-container .controller .owl-pagination .owl-page span,  #offlajn-universal-product-slider-900-1-container .controller .owl-pagination .owl-page span {
	background-color: #5aa6cd;
	height: 11px;
	width: 11px;
	display: block;
	margin: 2px 7px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
	transition: background-color 0.25s ease 0s;
}
#offlajn-universal-product-slider-90-1-container .controller .owl-pagination .owl-page.active span,  #offlajn-universal-product-slider-900-1-container .controller .owl-pagination .owl-page.active span {
	background: none;
	border: 2px solid #5aa6cd;
	box-shadow: none;/*margin: 0px 5px;*/



}
#offlajn-universal-product-slider-90-1-container .clear,  #offlajn-universal-product-slider-900-1-container .clear {
	clear: both;
}
/*ShowDescription*/



#offlajn-universal-product-slider-90-1-container .off-uni-slider-item.showdesc,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item.showdesc {
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
	background-color: #fff;
	overflow: hidden;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item.showdesc:after,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item.showdesc:after {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
	background-clip: content-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 15px 0 5px;
	margin-bottom: 5px;
	bottom: 0;
	content: " ";
	display: block;
	height: 25px;
	position: absolute;
	right: 0;
	width: 50%;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item.showdesc span,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item.showdesc span {
	display: block;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item.showdesc img,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item.showdesc img {
	float: left;
	width: 50%;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item.showdesc .item_container,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item.showdesc .item_container {
	/*float: right;    */

	padding: 0 10px;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item span.item_name,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item span.item_name {
	padding: 10px 5px 0px 15px;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item.showdesc span.item_price,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item.showdesc span.item_price {
	position: absolute;
	top: auto;
	right: auto;
	left: 5px;
	bottom: 10px;
	font-family: 'Open Sans';
	font-size: 17px;
	color: #ffffff;
	font-weight: 800;
	text-align: left;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
	background: #405369 url('/modules/mod_universal_product_slider/cache/90/e793e4613f909dab07fd89e2faeab7d4.png') repeat-x;
	background: -moz-linear-gradient(top, #2d3e52, #405369);
	background: -webkit-gradient(linear, left top, left bottom, from(#2d3e52), to(#405369));
	background: -webkit-linear-gradient(top, #2d3e52, #405369);
	background: -o-linear-gradient(top, #2d3e52, #405369);
	background: -ms-linear-gradient(top, #2d3e52, #405369);
	background: linear-gradient(top, #2d3e52, #405369);
	padding: 7px 10px;
 border: 1px solid #;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.95) inset, 2px 2px 1px -2px rgba(0, 0, 0, 0.65);
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item.showdesc .item_descr,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item.showdesc .item_descr {
	font-family: 'Open Sans';
	font-size: 13px;
	color: #333333;
	font-weight: 300;
	text-align: left;
	line-height: normal;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0px 5px 0px 15px;
	text-decoration: none;
	text-align: justify;
	width: 50%;
}
#offlajn-universal-product-slider-90-1-container .off-uni-slider-item.showdesc .item_descr h3,  #offlajn-universal-product-slider-900-1-container .off-uni-slider-item.showdesc .item_descr h3 {
	font-family: 'Open Sans Condensed';
	font-size: 26px;
	color: #333333;
	font-weight: 300;
	text-align: left;
	line-height: 55px;
}
